<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <script src="../static/bootstrap/js/jquery-3.4.0.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light">
      <!-- Brand -->
      <a class="navbar-brand" href="/">O'My eShop</a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/register">Add users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/show">View Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">Add products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">{{ session['names'] }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart"><span>Cart</span> {{ cartproductcount }}</a>
          </li>
        </ul>
      </div>
    </nav>


    <div class="col-sm-10 col-sm-offset-1">
     {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
     {% endwith %}
    <h3 class="text-muted text-center">Your cart</h3>
        <div class="row">
            {% for product in cartproducts %}
            <div class="col-md-1"></div>

            <div class="col-md-3">
                <div class="container">
                      <div class="card bg-info"  style="width:400px;padding: 15px;">
                          <h2 class="card-title">{{ product.name }}</h2>
                        <img class="card-img-top" src="../static/resources/{{ product.image }}" alt="Product image" style="height: 30vh; width: 100%;">
                        <div class="card-body">
                          <h4 class="card-text">Ksh. {{ product.price }}</h4>
                          <p>{{ product.description }}</p>
                        </div>
                      </div>
                </div>
            </div>
            {% endfor %}
        </div>


{#    <table class="table table-striped table-bordered">#}
{#        <tr>#}
{#            <th>ID</th>#}
{#            <th>NAMES</th>#}
{#            <th>AGE</th>#}
{#            <th>WEIGHT</th>#}
{#            <th>Delete</th>#}
{#            <th>Update</th>#}
{#        </tr>#}
{#        {% for user in users %}#}
{#        <tr>#}
{#            <td>{{ user.id }}</td>#}
{#            <td>{{ user.names }}</td>#}
{#            <td>{{ user.age }}</td>#}
{#            <td>{{ user.weight }}</td>#}
{#            <td><a href="delete/{{ user.id }}" class="btn btn-danger">Delete</a></td>#}
{#            <td><a href="update/{{ user.id }}" class="btn btn-danger">Update</a></td>#}
{#        </tr>#}
{#        {% endfor %}#}
{#    </table>#}
    </div>
    <div class="row">
        <div class="col-md-6">
            <h1>Total amount: Ksh. {{ total_amount }}</h1>
        </div>
        <div class="col-md-6">
            <!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Checkout
</button>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Checking out</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <h4 class="text-muted text-center">Enter your M-PESA number to checkout your products for Ksh {{ total_amount }}</h4>
          <form action="/checkout" class="was-validated">
              <div class="form-group">
                <label for="uname">M-PESA Number:</label>
                <input type="text" class="form-control" id="uname" placeholder="Enter mpesa number" name="uname" required>
                <div class="valid-feedback">Valid.</div>
                <div class="invalid-feedback">Please fill out this field.</div>
              </div>
              <div class="row">
                  <div class="col-6">
                      <button type="submit" class="btn btn-outline-primary btn-block">Pay</button>
                  </div>
                  <div class="col-6">
                      <button type="button" class="btn btn-outline-danger btn-block" data-dismiss="modal">Close</button>
                  </div>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>
        </div>
    </div>
</body>
</html>





